html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FFF;
  color: #23272A;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

::-moz-selection {
  background-color: #6E3DD9;
  color: #FFF;
}

::selection {
  background-color: #6E3DD9;
  color: #FFF;
}

header {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #23272A;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 9999;
}

header > * {
  height: 100%;
  padding: 0 1rem;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > a {
  border-bottom: 0 solid;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 300ms 0s ease-in-out;
  transition: all 300ms 0s ease-in-out;
}

header > a:hover {
  border-bottom: .5rem solid;
  background-color: #ffffff40;
}

header > a .fas {
  margin-right: .25rem;
}

header img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .25rem;
  background-color: #FFF;
  border: solid;
  border-radius: 50%;
}

.sidebar {
  height: calc(100% - 2rem);
  width: 10rem;
  position: fixed;
  background-color: #23272A;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar .menu .title {
  font-size: 1.3rem;
  margin: .5rem 0;
  border-bottom: .25rem solid;
}

.sidebar .menu .item {
  padding: .5rem 0 .5rem .5rem;
  border-left: 0 solid;
  display: block;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 300ms 0s ease-in-out;
  transition: all 300ms 0s ease-in-out;
}

.sidebar .menu .item:hover {
  border-left: .25rem solid;
  background-color: #ffffff40;
  color: #FFF;
}

.sidebar .menu .select {
  border-left: .25rem solid;
  background-color: #FFF;
  color: #23272A;
}

.sidebar .copyright {
  width: 10rem;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  font-size: .75rem;
}

.main {
  margin-left: 10rem;
  padding: 1rem 5%;
}

.main .btn {
  border: solid #6E3DD9;
  border-radius: .4rem;
  display: inline-block;
  background-color: #6E3DD9;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 200ms 0s ease-in-out;
  transition: all 200ms 0s ease-in-out;
}

.main .btn:hover {
  background-color: #FFF;
  color: #6E3DD9;
}

.main .rtbtn-dark {
  border: solid #23272A;
  background-color: #23272A;
}

.main .rtbtn-dark:hover {
  color: #23272A;
}

.page-main > img {
  height: 10rem;
  margin: 0 auto;
  display: block;
  background-color: #23272A;
  border: .25rem solid;
  border-radius: 50%;
}

.page-main .hello {
  margin-top: -5rem;
  padding: 5rem 1rem 1rem 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #23272A;
  color: #FFF;
  text-align: center;
}

.page-main .hello .logo {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-main .hello .logo img {
  width: 15rem;
  margin-right: 1rem;
}

.page-main .hello .logo div {
  font-size: 3.5rem;
}

.setting {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: auto auto auto;
      grid-template: auto / auto auto auto;
  grid-template: auto / auto auto auto;
  grid-gap: 2rem 1rem;
}

.setting .update {
  width: calc(90% - 10rem);
  margin: 0 5% 0 calc(10rem + 5%);
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 1rem 1rem 0 0;
  background-color: #23272A;
  color: #FFF;
}

.setting > * {
  border-bottom: solid;
}

.setting label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting label div {
  margin-right: 1rem;
}

.setting textarea {
  resize: none;
}

.page-server .server-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-server .server-list .item {
  min-width: 10rem;
  margin: .5rem;
  padding: .5rem;
  border: solid;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 1rem;
          box-shadow: 0 0 1rem;
  color: #23272A;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.page-server .server-list .item:hover {
  border: solid #6E3DD9;
  -webkit-box-shadow: 0 0 1rem #6E3DD9;
          box-shadow: 0 0 1rem #6E3DD9;
}

.page-server .server-list .item img {
  height: 10rem;
}


/* Help Button */
.help {
  color: #6e3dd9;
  text-decoration: none;
}


/* Now loading */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  align-items: center;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}