html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FFF;
  color: #23272A;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

::-moz-selection {
  background-color: #6E3DD9;
  color: #FFF;
}

::selection {
  background-color: #6E3DD9;
  color: #FFF;
}

header {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #23272A;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header > * {
  height: 100%;
  padding: 0 1rem;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > a {
  border-bottom: 0 solid;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 300ms 0s ease-in-out;
  transition: all 300ms 0s ease-in-out;
}

header > a:hover {
  border-bottom: .5rem solid;
  background-color: #ffffff40;
}

header > a .fas {
  margin-right: .25rem;
}

header img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .25rem;
}

.sidebar {
  height: calc(100% - 2rem);
  width: 10rem;
  position: fixed;
  background-color: #23272A;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar .menu .title {
  font-size: 1.3rem;
  margin: .5rem 0;
  border-bottom: .25rem solid;
}

.sidebar .menu .item {
  padding: .5rem 0 .5rem .5rem;
  border-left: 0 solid;
  display: block;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 300ms 0s ease-in-out;
  transition: all 300ms 0s ease-in-out;
}

.sidebar .menu .item:hover {
  border-left: .25rem solid;
  background-color: #ffffff40;
  color: #FFF;
}

.sidebar .menu .select {
  border-left: .25rem solid;
  background-color: #FFF;
  color: #23272A;
}

.sidebar .copyright {
  width: 10rem;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  font-size: .75rem;
}

.main {
  margin-left: 10rem;
  padding: 1rem 5%;
}

.main .btn {
  padding: 1rem 2rem;
  margin: 1rem .5rem;
  border: solid #6E3DD9;
  border-radius: .5rem;
  display: inline-block;
  background-color: #6E3DD9;
  color: #FFF;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 500ms 0s ease-in-out;
  transition: all 500ms 0s ease-in-out;
}

.main .btn:hover {
  background-color: #FFF;
  color: #6E3DD9;
}

.main .btn-dark {
  border: solid #23272A;
  background-color: #23272A;
}

.main .btn-dark:hover {
  color: #23272A;
}
