$color-main: #6E3DD9;
$color-sub: #D90DA2;
$color-white: #FFF;
$color-light: #F6F6F6;
$color-dark: #23272A;

.content {
    .item {
        display: block;
        margin: .5rem 0;
        padding: .5rem 1rem;
        border-left: .25rem solid $color-dark;
        background: $color-light;

        &:hover:before {
            content: attr(data-description);
            position: absolute;
            transform: translateY(100%);
            background-color: $color-dark;
            color: $color-white;
            padding: .25rem .5rem;
            border-radius: .5rem;
        }
    }
}