html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FFF;
  color: #23272A;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

::-moz-selection {
  background-color: #6E3DD9;
  color: #FFF;
}

::selection {
  background-color: #6E3DD9;
  color: #FFF;
}

header {
  height: 3.5rem;
  padding: 0 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6E3DD9;
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
          box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
  color: #FFF;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header a {
  color: #FFF;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: all 500ms 0s ease-in-out;
  transition: all 500ms 0s ease-in-out;
}

header a:hover {
  opacity: 0.5;
}

header .logo {
  font-size: 1.5rem;
}

header .margin {
  width: 10%;
}

header .menu input {
  display: none;
}

header .menu input:checked ~ .menu-btn div:nth-child(1) {
  bottom: -.25rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu input:checked ~ .menu-btn div:nth-child(2) {
  opacity: 0;
}

header .menu input:checked ~ .menu-btn div:nth-child(3) {
  top: -.25rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .menu input:checked ~ .menu-list {
  height: calc(100vh - 3.5rem);
  width: 50%;
  padding: 0 10%;
  position: absolute;
  top: 3.5rem;
  left: 0;
  display: block;
  background-color: #6E3DD9;
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
          box-shadow: 0 0.5rem 1.5rem 0 #6E3DD9;
}

header .menu input:checked ~ .menu-list * {
  margin: 0 !important;
  padding: .5rem 0;
  display: block;
}

header .menu input:checked ~ .menu-list .dropdown {
  position: static;
}

header .menu .menu-btn {
  display: none;
  cursor: pointer;
}

header .menu .menu-btn div {
  height: .25rem;
  width: 2rem;
  position: relative;
  background-color: #FFF;
  border-radius: 100rem;
  -webkit-transition: all 500ms 0s ease-in-out;
  transition: all 500ms 0s ease-in-out;
}

header .menu .menu-btn div:nth-child(1) {
  bottom: .4rem;
}

header .menu .menu-btn div:nth-child(3) {
  top: .4rem;
}

header .menu .menu-list {
  z-index: 100;
}

header .menu .menu-list .m {
  margin: 0 .5rem;
}

header .menu .menu-list .m:first-child {
  margin: 0 .5rem 0 0;
}

header .menu .menu-list .m:last-child {
  margin: 0 0 0 .5rem;
}

header .menu .menu-list .login {
  padding: .75rem 1rem !important;
  border-radius: 100rem;
  background-color: #fff;
  color: #6E3DD9;
}

header .menu .menu-list .account:hover .dropdown {
  display: block;
}

header .menu .menu-list .account .name {
  padding: .75rem 1rem;
  border-radius: 100rem;
  background-color: #fff;
  color: #6E3DD9;
  opacity: 1;
  -webkit-transition: all 500ms 0s ease-in-out;
  transition: all 500ms 0s ease-in-out;
}

header .menu .menu-list .account .name:hover {
  opacity: 0.5;
}

header .menu .menu-list .account .dropdown {
  width: 10rem;
  padding: .5rem 1rem;
  position: absolute;
  top: 3rem;
  right: calc(10% - .5rem);
  display: none;
  z-index: 100;
  background-color: #FFF;
  border: 0.5rem solid #6E3DD9;
  border-radius: 1rem;
  color: #6E3DD9;
  text-align: center;
}

header .menu .menu-list .account .dropdown a {
  margin: .5rem 0 !important;
  padding: .25rem;
  display: block;
  border-radius: 100rem;
  color: #6E3DD9;
}

header .menu .menu-list .account .dropdown a:hover {
  background-color: #23272A;
  color: #FFF;
  opacity: 1;
}

@media screen and (max-width: 1050px) {
  header .menu .margin {
    display: none;
  }
  header .menu .menu-list {
    display: none;
  }
  header .menu .menu-btn {
    display: block;
  }
}

.content {
  padding: 3rem 10%;
}

.content a {
  color: #6E3DD9;
  text-decoration: none;
  -webkit-transition: all 500ms 0s ease-in-out;
  transition: all 500ms 0s ease-in-out;
}

.content a:hover {
  color: #D90DA2;
}

footer {
  padding: 1.5rem 10%;
  background-color: #23272A;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

footer .menu {
  padding-bottom: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 5rem 1fr;
      grid-template: 1fr / 5rem 1fr;
}

footer .menu img {
  height: 5rem;
  width: 5rem;
}

footer .menu a {
  color: #FFF;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: all 500ms 0s ease-in-out;
  transition: all 500ms 0s ease-in-out;
}

footer .menu a:hover {
  opacity: 0.5;
}

footer .menu .menu-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

footer .menu .menu-list .item {
  margin: 0 1rem;
}

footer .menu .menu-list .item .title {
  font-size: 1.3rem;
  border-bottom: 0.1rem solid #FFF;
}

footer .menu .menu-list .item div:first-child {
  padding: 0 .5rem;
}

footer .menu .menu-list .item div:not(:first-child) {
  padding: .15rem 1rem;
}

footer .menu .menu-list .item div:nth-child(2) {
  padding: .3rem 1rem .15rem 1rem;
}

footer .menu .menu-list .item div:last-child {
  padding: .15rem 1rem .3rem 1rem;
}

footer .copyright {
  text-align: center;
}

@media screen and (max-width: 1085px) {
  footer .menu-list {
    -ms-grid-rows: auto auto !important;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template: auto auto / 1fr 1fr !important;
  }
  footer .menu-list .item:nth-child(n + 3) {
    margin: 1rem 1rem 0 1rem;
  }
}

@media screen and (max-width: 601px) {
  footer .menu {
    -ms-grid-rows: 5rem 1fr !important;
    -ms-grid-columns: 1fr !important;
        grid-template: 5rem 1fr / 1fr !important;
  }
  footer .menu-list {
    -ms-grid-rows: auto auto auto auto !important;
    -ms-grid-columns: 1fr !important;
        grid-template: auto auto auto auto / 1fr !important;
  }
  footer .menu-list .item:nth-child(n + 2) {
    margin: 1rem 1rem 0 1rem !important;
  }
}
