{% include "layout_head.html" %}
{% block head %}
    <title>HOME | RT Discord Bot</title>
    <meta name="description" content="他にはないような機能を提供している多機能Bot。">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" type="module"></script>
{% endblock %}
{% extends "layout.html" %}
{% block content %}
    <div class="index-html">
        <div class="top">
            <div>
                <h1>RT Discord Bot</h1>
                <p>他にはないような機能を提供している多機能Bot。</p>
            </div>
        </div>
        <div class="content">
            <h1>RT Discord Bot</h1>
            これだけでサーバー管理のBotは済むを目指すBotで、新世代Botです。
            <h2>代表的な機能</h2>
            <ol>
                <li>対策となる画像認証, 合言葉認証, ウェブ認証(hCaptcha)</li>
                <li>テンプレートの取得が可能な役職パネル</li>
                <li>リアルタイムで投票数, ちょっとしたグラフが表示される投票パネル</li>
                <li>募集パネル</li>
                <li>フリーチャンネル(スレッドのようなもの)</li>
                <li>チケットパネル</li>
                <li>絵文字などで盛り付けできるカスタム可能なチャンネルステータス</li>
                <li>声の種類を変更することができる読み上げ (自分の好きな音声を登録することも可能！)</li>
                <li>自己紹介テンプレートなどに使えるいつも下にくる強制ピン留めメッセージ</li>
                <li>リアクションでの範囲指定による削除も可能なメッセージ削除機能</li>
            </ol>
            <p>他にも天気予報通知などの様々な便利な機能があります。</p>
            <div class="introduce">
                <h1>さあ、あなたのサーバーにもRTを導入しよう！</h1>
                <a href="https://discord.com/api/oauth2/authorize?client_id=716496407212589087&permissions=8&redirect_uri=https%3A%2F%2Frt-bot.com&response_type=code&scope=bot%20applications.commands"
                    class="btn">導入する</a>
            </div>
        </div>
    </div>
{% endblock %}
